@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

:root{
    --first: ;
    --second: ;
    --third: ;
    --normal: 16px;
    --title: 38px;
    --subtitle: 24px;
    --shadow: 2px 6px 21px -1px rgba(82,82,82,0.5);
    --black: #131111d3;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    transition: all 200ms ease-in;
    color: var(--black)
}
#component{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr;
}
body{
    height: 100vh;
}
header{
    background-color: rgba(255,255,255,0.8);
    color: var(--black);
    grid-row: 1;
}
h1{
    font-size: var(--title);
}
.mainCol{
    color: rgb(25, 83, 87);
}
main{
    grid-row: 2;
    padding: 2rem;
}